/*seller_info的样式*/
#seller_info1container1,#seller_info2container1
{
width:330px;
text-align:left;
margin-left: 150px;
margin-top:-3px;
}
#sellerinfo2_container,#sellerinfo1_container,#shopbaseinfo_container
{
background:white;
}
#seller_info1heading,#seller_info2heading
{
text-align:center;
}
#seller_info1but,#seller_info2but
{
margin-left:160px;
}
#seller_info2table
{
width:400px;
height:100px;
}
#checksaleshistory_date1
{
width:60%;

}
/*shopbase.html样式*/
#shopbase_left
{
width:30%;
}

#shopbase_btn
{
margin-left:70px;
}
/*managecomm.html的样式*/
#managecomm_but
{
margin-left:270px;
}
#checkhistory_search
{
margin-left:750px;
}
#managecomm_right
{
width:60%;
}
#managecomm_footer
{
position:static;
display:block;
}

/*managestat.html的样式*/
#managestat_date1,#managestat_date2
{
width:60%;
margin-left:750px;
}


#checksaleshistory_foot
{
position:static;
display:block;
}
#sellerinfo2_foot
{
position:static;
display:block;
}

#shopbaseinfo_foot
{
position:static;
display:block;
}

#checkmanagementstat_foot
{
position:static;
display:block;
}