{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}
<!--part2 advertisement-->
    <link href="/base_template/css/mystyle.css" rel="stylesheet">
    <link href="/base_template/css/bandari.css" rel="stylesheet">
    <link href="/base_template/css/one.css" rel="stylesheet">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-449960">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-449960">
					</li>
					<li data-slide-to="1" data-target="#carousel-449960">
					</li>
					<li data-slide-to="2" data-target="#carousel-449960">
					</li>
				</ol>
				<div id="carousel" class="carousel-inner">   
					<div class="item active">      <!--网站介绍1-->
						<img alt="" src="/file/images/AD1.jpg" >
						<div class="carousel-caption">
							<h4>
							</h4>
							<p>
							</p>
						</div>
					</div>
					<div class="item">             <!--网站介绍2-->
						<img alt="" src="/file/images/AD2.jpg">
						<div class="carousel-caption">
							<h4>
							</h4>
							<p>
							</p>
						</div>
					</div>
					<div class="item">              <!--网站介绍3-->
						<img alt="" src="/file/images/AD3.jpg">
						<div class="carousel-caption">
							<h4>
							</h4>
							<p>
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-449960" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-449960" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
	
	
	<!--part3 navigation-->
	<div class="container nav_top">
		<div class="row " style="text-align: center;color: #3a87ad; margin-bottom: 30px;" >
			<div class="col-md-2 column nav_change">
				<ui>
					<a href="#floor1" class="Font_color">Clothes</a>
				</ui>
			</div>
			<div class="col-md-2 column nav_change ">
				<ui>
					<a href="#floor2" class="Font_color">Shoes</a>
				</ui>
			</div>
			<div class="col-md-2 column nav_change">
				<ui>
					<a href="#floor3" class="Font_color">Food</a>
				</ui>
			</div>
			<div class="col-md-2 column nav_change">
				<ui>
					<a href="#floor4" class="Font_color">Furniture</a>
				</ui>
			</div>
			<div class="col-md-2 column nav_change">
				<ui>
					<a href="#floor5" class="Font_color">Book</a>
				</ui>
			</div>
			<div class="col-md-2 column">
				<ui>
					<a href="#floor6" class="Font_color">Others</a>
				</ui>
			</div>			
		</div>
	</div>

<div class="container">
<!--part4 product-->

	<div id="r&b" class="row clearfix" style = "background-color: #ffffff" >
		<div class="col-md-12 column block" style="height: 400px;margin-bottom: 70px; margin-top: -30px;">
			<div class="row" style="margin-bottom:30px">
				<strong style="font-size: xx-large;color: #3a87ad;"><label>&nbsp;&nbsp;&nbsp;&nbsp;Recommendation</label></strong>
			</div>
			<div class="col-md-9 column">
				<div class="tabbable" id="tabs-412305">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#panel-22874" data-toggle="tab">Top 10 Commodities</a>
						</li>
						<li>
							<a href="#panel-71918" data-toggle="tab">Top 10 Shops</a>
						</li>
					</ul>
					<div id="top" class="tab-content">
						<div class="tab-pane active" id="panel-22874">      <!--TP 10 商品-->
							{% for commodityadv in homecommodityadv %}
                                <a href = "/commodity/id/{{ commodityadv.CommodityID.id }}/">
                                    <img src="/file/{{ commodityadv.CommodityID.CommodityImage }}" class="logo">
                                </a>
                            {% endfor %}
						</div>
						<div class="tab-pane" id="panel-71918">			    <!--TP 10 店铺-->
                            {% for shopadv in homeshopadv %}
                                <a href = "/shop/id/{{ shopadv.ShopID.id }}">
                                    <img src="/file/{{ shopadv.ShopID.ShopImage }}" class="logo">
                                </a>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div id="bulletin" class="col-md-3 column">
				<img src="/file/images/bulletin.jpg">
				<h2 style="text-align:center">Bulletin</h2>
				<h3 style = "color:white;">
				    {{ bulletin.BulletinBoardContent }}<br>
                    {{ bulletin.BulletinBoardDescription }}<br>
                    {{ bulletin.BulletinBoardDate }}
				</h3>
			</div>
		</div>
	</div>
	
</div>
	
<div  style = "background-color: #f8f8f8">
<div class="container" >

	<div style = "background-color: #f8f8f8">
			<br/>
	</div>
	
	<div id="floor" class="row clearfix" >
		<div class="col-md-12 column block" id="floor1" style = "margin-bottom:-50px;" >
		<div class="floor">
			<div class="col-md-3 column">
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F1</h2>
					 <h2>Clothes</h2>
					 <!--<img src="/file/images/clothes.jpg" style="width:80px;height:140px;">-->
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">Clothes of Men</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Clothes of Women</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Clothes of Kids</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Sportswear</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Formal wear</b></a></li>
					</ul>
				</div>
			</div>
			<!--对应分类的图片标识-->
			<div class="col-md-3 column">
				<img src="/file/images/clothes_floor.jpg" style="width:250px;height:410px;">
			</div>
			<!--对应分类的知名品牌-->
			<div class="col-md-6 column">
				<ul class="list-unstyled">
					<li>
						<a href="/commodity/id/5/"><img src="/file/images/logo1.png" class="logo"></a>
						<img src="/file/images/logo2.jpg" class="logo">
						<img src="/file/images/logo3.jpg" class="logo">

					</li>
					<li>
						<img src="/file/images/logo4.jpg" class="logo">
						<img src="/file/images/logo5.jpg" class="logo">
						<img src="/file/images/logo6.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo7.jpg" class="logo">
						<img src="/file/images/logo8.jpg" class="logo">
						<img src="/file/images/logo9.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo10.jpg" class="logo">
						<img src="/file/images/logo11.jpg" class="logo">
						<img src="/file/images/logo12.jpg" class="logo">
					</li>
				</ul>
			</div>
			</div>
		</div>
		<div style = "background-color: #f8f8f8">
			<br/>
		</div>
		<div class="col-md-12 column block" id="floor2" style = "margin-bottom:-50px;">
			<div class="col-md-3 column floor" style="height:412px;">
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F2</h2>
					 <h2>Shoes</h2>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">Shoes of Men</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Shoes of Women</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Sports-shoes</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Board Shoes</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Formal wear</b></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 column floor">
				<img src="/file/images/demo2.jpg" style="width:250px;height:410px;">
			</div>
			<div class="col-md-6 column floor">
				<ul class="list-unstyled">
					<li>
						<img src="/file/images/logo13.jpg" class="logo">
						<img src="/file/images/logo14.jpg" class="logo">
						<img src="/file/images/logo15.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo16.jpg" class="logo">
						<img src="/file/images/logo17.jpg" class="logo">
						<img src="/file/images/logo18.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo19.jpg" class="logo">
						<img src="/file/images/logo20.jpg" class="logo">
						<img src="/file/images/logo21.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo22.jpg" class="logo">
						<img src="/file/images/logo23.jpg" class="logo">
						<img src="/file/images/logo24.jpg" class="logo">
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-12 column block" id="floor3" style = "margin-bottom:-50px;">
			<div class="col-md-3 column floor" style="height:412px;" >
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F3</h2>
					 <h2>Food</h2>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">Drink</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Snacks</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Raw material</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Birthday Cake</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Foreign Foodstuff</b></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 column floor">
				<img src="/file/images/food_floor.jpg" style="width:250px;height:410px;">
			</div>
			<div class="col-md-6 column floor">
				<ul class="list-unstyled">
					<li>
						<img src="/file/images/logo17.jpg" class="logo">
						<img src="/file/images/logo14.jpg" class="logo">
						<img src="/file/images/logo13.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo12.jpg" class="logo">
						<img src="/file/images/logo20.jpg" class="logo">
						<img src="/file/images/logo1.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo9.jpg" class="logo">
						<img src="/file/images/logo16.jpg" class="logo">
						<img src="/file/images/logo11.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo4.jpg" class="logo">
						<img src="/file/images/logo3.jpg" class="logo">
						<img src="/file/images/logo2.jpg" class="logo">
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-12 column block" id="floor4" style = "margin-bottom:-50px;">
			<div class="col-md-3 column floor" style="height:412px;" >
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F4</h2>
					 <h2>Furniture</h2>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">Electric Appliance</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Bedding</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Kitchen Ware</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Cleaning Tool</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Tableware</b></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 column floor">
				<img src="/file/images/furniture_floor.jpg" style="width:250px;height:410px;">
			</div>
			<div class="col-md-6 column floor">
				<ul class="list-unstyled">
					<li>
						<img src="/file/images/logo21.jpg" class="logo">
						<img src="/file/images/logo22.jpg" class="logo">
						<img src="/file/images/logo23.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo24.jpg" class="logo">
						<img src="/file/images/logo1.jpg" class="logo">
						<img src="/file/images/logo2.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo3.jpg" class="logo">
						<img src="/file/images/logo4.jpg" class="logo">
						<img src="/file/images/logo5.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo6.jpg" class="logo">
						<img src="/file/images/logo7.jpg" class="logo">
						<img src="/file/images/logo8.jpg" class="logo">
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-12 column block" id="floor5" style = "margin-bottom:-50px;">
			<div class="col-md-3 column floor" style="height:412px;">
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F5</h2>
					 <h2>Book</h2>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">Technique</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Health</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">History</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Literature</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Language</b></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 column floor">
				<img src="/file/images/book_floor.jpg" style="width:250px;height:410px;">
			</div>
			<div class="col-md-6 column floor">
				<ul class="list-unstyled">
					<li>
						<img src="/file/images/logo9.jpg" class="logo">
						<img src="/file/images/logo10.jpg" class="logo">
						<img src="/file/images/logo11.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo12.jpg" class="logo">
						<img src="/file/images/logo13.jpg" class="logo">
						<img src="/file/images/logo14.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo15.jpg" class="logo">
						<img src="/file/images/logo16.jpg" class="logo">
						<img src="/file/images/logo17.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo18.jpg" class="logo">
						<img src="/file/images/logo19.jpg" class="logo">
						<img src="/file/images/logo20.jpg" class="logo">
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-12 column block" id="floor6">
			<div class="col-md-3 column floor" style="height:412px;">
				<div class="floor-intro-top">
					 <h2 style="color:orange;border:1px ">F6</h2>
					 <h2>Others</h2>
				</div>
				<br />
				<div class="floor-intro-bottom">
					<ul class="list-unstyled">
						<li><a href=""><b style = "color:#46A3FF;">Stationery</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Electronics</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Accessories</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Beauty</b></a></li>
						<li><a href=""><b style = "color:#46A3FF;">Cars</b></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 column  floor">
				<img src="/file/images/others_floor.jpg" style="width:250px;height:410px;">
			</div>
			<div class="col-md-6 column floor">
				<ul class="list-unstyled">
					<li>
						<img src="/file/images/logo23.jpg" class="logo">
						<img src="/file/images/logo22.jpg" class="logo">
						<img src="/file/images/logo21.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo20.jpg" class="logo">
						<img src="/file/images/logo19.jpg" class="logo">
						<img src="/file/images/logo18.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo17.jpg" class="logo">
						<img src="/file/images/logo16.jpg" class="logo">
						<img src="/file/images/logo15.jpg" class="logo">
					</li>
					<li>
						<img src="/file/images/logo14.jpg" class="logo">
						<img src="/file/images/logo13.jpg" class="logo">
						<img src="/file/images/logo12.jpg" class="logo">
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	
</div>
</div>
{% endblock %}