{% extends "sellerbase.html" %}
{% block title %}SalesHistory{% endblock %}

{% block sellercontent %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-10 column">
			
				
			<h3 class="text-left" style="color:#3a87ad">
				Sales History
			</h3>
			<hr>
			<a href="/seller/statistics/all"><button class='btn btn-info btn-xs'>All Sales</button></a>
			<a href="/seller/statistics/year"><button class='btn btn-info btn-xs'>Year Sales</button></a>
			<a href="/seller/statistics/month"><button class='btn btn-info btn-xs'>Month Sales</button></a>
			<a href="/seller/statistics/day"><button class='btn btn-info btn-xs'>Day Sales</button></a>
			<br>
			<br>
			<div class="row clearfix">
				<div class="col-md-12 column">   
        			<div class="row col-md-12">
			<table class="table table-striped custab">
				<thead>
					<tr class="yanse">
						<th>OrderNo.</th>
						<th>
							CommodityName
						</th>
						<th>
							OrderTime
						</th>
						<th>
							UnitPrice
						</th>
						<th>
							Counts
						</th>						
						<th>
							ActualMoney
						</th>	
						<th>
							ShipAddress
						</th>
						<th>
							Status
						</th>
					</tr>
				</thead>
				{% for salesHistory in SalesHistoryList %}
				<tr class="yanse" id="item{{salesHistory.CommodityID.id}}">
					<td>{{ salesHistory.id }}</td>
					<td>{{ salesHistory.CommodityID.CommodityName }}</td>
					<td>{{ salesHistory.OrderListDate }}</td>
					<td>{{ salesHistory.CommodityID.SellPrice }}$</td>
					<td>{{ salesHistory.OrderAmount }}</td>
					<td>{% widthratio salesHistory.CommodityID.SellPrice 1 salesHistory.OrderAmount %}$</td>
					<td>{{ salesHistory.CustomerOrderID.CustomerID.CustomerAddress }}</td>
					{% if salesHistory.OrderListState == 0 %}
					<td>paying</td>
					{% endif %}
					{% if salesHistory.OrderListState == 1 %}
					<td>shipping</td>
					{% endif %}
					{% if salesHistory.OrderListState == 2 %}
					<td>signing</td>
					{% endif %}
					{% if salesHistory.OrderListState == 3 %}
					<td>commenting</td>
					{% endif %}
					{% if salesHistory.OrderListState == 4 %}
					<td>refunding</td>
					{% endif %}
					{% if salesHistory.OrderListState == 5 %}
					<td>refunded</td>
					{% endif %}
					{% if salesHistory.OrderListState == 6 %}
					<td>refused refunded</td>
					{% endif %}
					{% if salesHistory.OrderListState == 7 %}
					<td>finish</td>
					{% endif %}
				</tr>
				{% endfor %}				
			</table>
			<b>Total Value: {{totalvalue}}$	<b>
			<br>
			<br>
		</div>
		</div>
		</div>
	</div>
	</div>
</div>
{% endblock %}
					