{% extends "base.html" %}
{% block title %}Check Out{% endblock %}

{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
            <div class="col-md-2 column">
            </div>
				<div class="col-md-8 column">
                    <h3>Choose a bank</h3>
    <hr>
                    <div style="float: left">
                    <input type="checkbox">
                    <img src="/file/images/bank1.png" style="height: 80px">
                    </div>
                    <div style="float: left">
                    <input type="checkbox">
                    <img src="/file/images/bank2.png" style="height: 80px">
                    </div>
                    <div style="float: left">
                    <input type="checkbox">
                    <img src="/file/images/bank3.png" style="height: 80px">
                    </div><div style="float: left">
                    <input type="checkbox">
                    <img src="/file/images/bank4.png" style="height: 80px">
                    </div><div style="float: left">
                    <input type="checkbox">
                    <img src="/file/images/bank5.png" style="height: 80px">
                    </div><div style="float: left">
                    <input type="checkbox">
                    <img src="/file/images/bank6.png" style="height: 80px">
                    </div><div style="float: left">
                    <input type="checkbox">
                    <img src="/file/images/bank7.png" style="height: 80px">
                    </div><div style="float: left">
                    <input type="checkbox">
                    <img src="/file/images/bank8.png" style="height: 80px">
                    </div><div style="float: left">
                    <input type="checkbox">
                    <img src="/file/images/bank9.png" style="height: 80px">
                    </div><div style="float: left">
                    <input type="checkbox">
                    <img src="/file/images/bank10.png" style="height: 80px">
                    </div><div style="float: left">
                    <input type="checkbox">
                    <img src="/file/images/bank11.png" style="height: 80px">
                    </div><div style="float: left">
                    <input type="checkbox">
                    <img src="/file/images/bank12.jpg" style="height: 80px">
                    </div>
                    <br><br><br>
                </div>
            </div>
            <br><br><br>
            <div class="row clearfix">
            <div class="col-md-5 column"></div>

            <a href="/" class="btn btn-primary">Submit<i class="fa fa-angle-right"></i></a>
                </div>
        </div>
    </div>
</div>
    <br><br><br>

{% endblock %}