{% extends "base.html" %}
{% block title %}Commodity Information{% endblock %}

{% block content %}

<div class="container">
	<div class="changtiao">
    </div>
	<div class="yanse">
	<div class="row clearfix">
		<div class="col-md-5 column">
        	
			<img alt="400x400" src="/file/{{commodity.CommodityImage}}" />
            
		</div>
		<div class="col-md-7 column">
			<h3 >
				Commodity Name:{{ commodity.CommodityName }}
			</h3> <!--这里是Commodity里的CommodityName-->
			<p class="hangju">
		        Price:{{ commodity.SellPrice }} RMB
			</p> <!--这里是Commodity里的OriginalPrice-->
            <div class="row clearfix">
				<div class="col-md-12 column">
               <div class="row clearfix">
              
						<div class="col-md-3 column">
                        commodity count:
     					</div>	
                          <div class="col-md-1 column">
                           <input id="num" type="text" value="1" class="input-small" style="width:30px;" >
					</div>
					   <div class="col-md-8 column">
                        pairs(last {{ commodity.CommodityAmount }})   <!--这里是Commodity里的CommodityAmount-->
					</div>
					</div>
            
               
		           
				</div>
			</div>
          
			<p class="hangju">
		        <a href="/shop/id/{{ shop.id }}">View Shop</a>  <!--这里是Seller里的SellerName-->
			</p>

        <script language="javascript">
            function addtocart() {
                num = $('#num')[0].value;
                alert('add' + num + '{{ commodity.CommodityName }}' + 'to cart!');
                location.href='/addtocart/'+ '{{ commodity.id }}' +'/'+num+'/commodity/';
            }
            function addtofavorite(id) {
                xmlhttp=new XMLHttpRequest();
                xmlhttp.onreadystatechange=function()
                {
                    if (xmlhttp.readyState==4 && xmlhttp.status==200)
                    {
                        //$('#item'+id).slideUp()
                        t=$('#addtofavoritebt')[0]
                        t.innerText='already in favorite';
                        t.onclick=null;
                    }
                }
                xmlhttp.open("GET","/addtofavorite?id="+id,true);
                xmlhttp.send();
            }
        </script>
      			<div class="row clearfix">
				<div class="col-md-3 column">
					 <button onclick="addtocart()" type="button" class="btn btn-primary">Add to cart</button>
				</div>
				<div class="col-md-9 column">
				{% if isfavorite %}
                    <button type="button" class="btn btn-primary">already in favorite</button>
                    {% else %}
                    <button id="addtofavoritebt" onclick="addtofavorite({{ commodity.id }})" type="button" class="btn btn-primary">Add to favorite</button>
                {% endif %}
                </div>

			</div>
            </div>
            
            <!--这里的两个按钮分别是加入cart和favorite-->
		
	</div>
    </div>
    <p>
    </p>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="tabbable" id="tabs-895540">
				<ul class="nav nav-tabs">
					<li>
						<a href="#panel-287145" data-toggle="tab">commodity information</a>
					</li>
					<li class="active">
						<a href="#panel-156956" data-toggle="tab">commodity comments</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="panel-287145">
						<p>
							{{ commodity.CommodityDescription}}
                            <!--这里是Commodity里的CommodityDescription-->
						</p>
					</div>
					<div class="tab-pane active" id="panel-156956">
						<div class="row">
        <div class="panel panel-default widget">
            
            <div class="panel-body">
                <ul class="list-group">
                    {% for comment in commentlist %}
                    <li class="list-group-item">
                        <div class="row">
                         
                            <div class="col-xs-10 col-md-11">
                              
                                    <div class="mic-info">
                                        By: {{ comment.CustomerID.CustomerName }}
                                        
                                        <!--这里可以通过商品ID在Comment表里找买家ID，再在Customer中找到Customername-->
                                    </div>
                               
                                <div class="comment-text">
                                    {{ comment.CommentContent }}  <!--这里是Comment里的CommentContent下面的以此类推-->
                                </div>
                               
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <!--<a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>-->
            </div>
        </div>
    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}